<!-- Footer -->
<footer class="page-footer font-small footer-gradient darken-3">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <img src="../../assets/png/icons8-facebook-50.png" class="white-text mr-md-5 mr-sm-3">

          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <img src="../../assets/png/icons8-twitter-squared-48.png" class="white-text mr-md-5 mr-sm-3">
          </a>
          <!-- Google +-->
          <a class="go-ic">
            <img src="../../assets/icons/icons8-gmail-48.png" alt="gmail" class="white-text mr-md-5 mr-sm-3">
          </a>
        
          <a class="ins-ic">
            <img src="../../assets/icons/icons8-instagram-old-48.png" alt="instagram" class="white-text mr-md-5 mr-sm-3">
          </a>

          <a>
            <img src="../../assets/icons/icons8-ringing-phone-48.png" alt="telephone" class="white-text mr-md-5 mr-sm-3">
          </a>

          <a class="wa-ic"> 
            <img src="../../assets/png/icons8-whatsapp-48.png" alt="whatsapp" class="white-text mr-md-5 mr-sm-3">
          </a>
         
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a routerLink=""> audioheat.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
