<main class="text-center py-5 mt-3 ">

  <div class="container black-white">
    <div class="row">
      <div class="col-12">

        <div align="justify">
          <h5 class="display-5 text-center brandFont"> FRESH OUT THE OVEN!!
            <span>
              <img src="https://img.icons8.com/color/48/000000/fire-element.png">
              <img src="https://img.icons8.com/color/48/000000/fire-element.png">
            </span>
          </h5>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="container">

        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
          <mdb-carousel-item>
            <div class="w-100">
              <img class="d-block h-20 w-100" src="../../assets/audio_heat_1.jpg" alt="First slide">
              <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
            </div>

          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="w-100">
              <img class="d-block h-20 w-100" src="../../assets/audio_heat_2.jpg" alt="Second slide">
              <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
            </div>

          </mdb-carousel-item>
        </mdb-carousel>
      </div>
    </div>
  </div>


</main>
