<div class="container my-5" >
  <div class="row">
    <strong class="pt-2 pl-4 brandFont">SORT BY:</strong>
    <div class="button-group pl-3 mt-2">
      <button size="sm" color="elegant" mdbBtn>name</button>
      <button size="sm" color="unique" mdbBtn>album</button>
      <button size="sm" color="info" mdbBtn>artist</button>
      <button size="sm" color="teal" mdbBtn>genre</button>
      <button size="sm" color="purple" mdbBtn>Release Date</button>

    </div>

  </div>
  <div class="row">

<div class="col-sm-6 col-md-4 col-lg-3 my-3" *ngFor="let track of tracks">
<app-card [track]="track" class="hoverable" routerLink="/music/singles/{{track.song_name}}"></app-card>

</div>

</div>
</div>
