<div class="custom-container">
  <h2 class="header">ADMIN DASHBOARD</h2>
  <div class="dash-body">
    <div class="dash-nav text-right">
      <div class="btn-group" mdbDropdown>
        <a role="button" color="teal" class="btn-group" size="sm" mdbDropdownToggle class="dropdown-toggle"
          mdbBtn>New</a>
        <div class="dropdown-menu">
          <a class="dropdown-item my-1" routerLink="new-single">Single</a>
          <a class="dropdown-item my-1" routerLink="new-album">Album</a>
        </div>
      </div>
      <a role="button" class="btn" mdbBtn size="sm" color="indigo">All Singles</a>
      <a role="button" class="btn" mdbBtn size="sm" color="cyan">All Albums</a>
    </div>


    <div class="container">

    </div>
  </div>
</div>
